#hide_stickied {
    position: relative;
    top: -10px;
    z-index: 10;
}

body.hiding #hide_stickied::after {
    content: "Hiding stickied posts...";
}

body.hide_stickied.hiding .stickied {
    position: absolute;
}

#hide_stickied::after {
    content: "Hide stickied";
}

body.hide_stickied #hide_stickied::after {
    content: "Unhide stickied";
}

body.hide_stickied .stickied {
    display: none;
}
